<footer>
<div class="container">
    <div class=row>
      <div class=col-sm-4>
        <h5>About Us</h5>
        <p>
          It’s been our mission to make commerce better for everyone ever since.</p>
      </div>
      <div class=col-sm-2>
        <h5>The Basics</h5>
        
          <li><a href=#>Contact Us</a></li>
          <li><a href=#>Support Forums</a></li>
          <li><a href=#>API</a></li>
          <li><a href=#>BLOG</a></li>
       
      </div>
      <div class=col-sm-2>
        <h5>Get Involved</h5>
        
          <li><a href=#>3rd Party Applications</a></li>
          <li><a href=#>Add New Movie</a></li>
          <li><a href=#>Add New TV Show</a></li>
            
      </div>
      <div class=col-sm-2>
        <h5>Community</h5>
        
          <li><a href=#>Guidelines</a></li>
          <li><a href=#>Leaderboard</a></li>
          <li><a href=#>Forums</a></li>               
      </div>
      
    </div>
</div>
</footer>